# This is a sample answer file to be used for automated registration.  
# Be sure to modify and uncomment the appropriate lines, most typically the# values for _gpe_svc_reg, _username and _password.  
#  
# This file is then used as follows:  
#  
#  /opt/galileo/bin/gpe-agent-comm add_service --file /path/to/answer/file  
#    
#_gpe_svc=Galileo_Xfer_Service  
#_gpe_url=https://xfer1.galileosuite.com,https://xfer2.galileosuite.com  
#_gpe_proxy=PROXY_HOST:PROXY_PORT  
#_gpe_proxy_credentials=PROXY_USERNAME:PROXY_PASSWORD#_skip_confirm=y  
#_gpe_svc_reg=SITE_NAME  
#_username=USERNAME  
#_password=PASSWORD
_gpe_svc=Galileo_Xfer_Service
_gpe_url={{ galileo_ansible_role_gpe_url }}
{% if galileo_ansible_role_gpe_proxy | length %}
_gpe_proxy={{ galileo_ansible_role_gpe_proxy }} 
_gpe_proxy_credentials={{ galileo_ansible_role_gpe_proxy_username }}:{{ galileo_ansible_role_gpe_proxy_password }}#_skip_confirm=y
{% endif %}
_gpe_svc_reg={{ galileo_ansible_role_gpe_site_name }} 
_token={{ galileo_ansible_role_gpe_token }}  
